<div class="row">
	<div class="col-md-2">
		&nbsp;
	</div>
	<div class="col-md-8">
		<div class="panel panel-success">
			<div class=" panel-heading">
				<h4>Associate your {{registerData.provider}} Account</h4>
			</div>
			<div class="panel-body">
				<form role="form">
					<p class="text-success">
						You have successfully autheticated with <strong>{{registerData.provider}} </strong>. 
						Please enter a user name below for this site and click the Register button to log in.
					</p>
					<div class="alert alert-success" ng-show="savedSuccessfully">Sign up successfully!! You will be redirected to in {{countDown}} seconds!</div>
					<alert ng-repeat="alert in signupAlerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Email" ng-model="registerData.Email" required autofocus>

					</div>
					<div class="form-group">
						<button class="btn btn-sm btn-info" type="button" ng-click="registerExternal()">Register</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		&nbsp;
	</div>
</div>