

<div class="row">
	<div class="col-md-9">
		<div class="panel panel-success">
			<div class=" panel-heading">
				<h4>Login</h4>
			</div>
			<div class="panel-body">
				<form role="form">
					<alert ng-repeat="alert in loginAlerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
					<div class="form-group">
						<input placeholder="UserName" type="text" class="form-control" ng-model="loginDetail.username"/>
					</div>
					<div class="form-group">
						<input placeholder="Password" type="password" class="form-control" ng-model="loginDetail.password"/>

					</div>
					<div class="form-group">
						<button class="btn btn-success" ng-click="loginClick($event)">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-warning">
			<div class=" panel-heading">
				<h4>Social Logins</h4>
			</div>
			<div class="panel-body">
				<button class="btn btn-large btn-google-plus btn-block" type="button" ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>

			</div>
		</div>

	</div>

</div>


